<p id="notice"><%= notice %></p>

<p>
  <strong>Max price:</strong>
  <%= @b_strategy.max_price %>
</p>

<p>
  <strong>Target price:</strong>
  <%= @b_strategy.target_price %>
</p>

<p>
  <strong>Best price:</strong>
  <%= @b_strategy.best_price %>
</p>

<p>
  <strong>First price:</strong>
  <%= @b_strategy.first_price %>
</p>

<p>
  <strong>Max down payment:</strong>
  <%= @b_strategy.max_down_payment %>
</p>

<p>
  <strong>First down payment:</strong>
  <%= @b_strategy.first_down_payment %>
</p>

<p>
  <strong>Financed amount:</strong>
  <%= @b_strategy.financed_amount %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @b_strategy.interest_rate %>
</p>

<p>
  <strong>Loan points:</strong>
  <%= @b_strategy.loan_points %>
</p>

<p>
  <strong>Term limit:</strong>
  <%= @b_strategy.term_limit %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @b_strategy.payment %>
</p>

<p>
  <strong>Cash flow:</strong>
  <%= @b_strategy.cash_flow %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @b_strategy.comments %>
</p>

<%= link_to 'Edit', edit_b_strategy_path(@b_strategy) %> |
<%= link_to 'Back', b_strategies_path %>
