<%= form_for(@comp) do |f| %>
  <% if @comp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comp.errors.count, "error") %> prohibited this comp from being saved:</h2>

      <ul>
      <% @comp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <table class="table table-striped table-bordered">


	<tr>
		<th>
			<%= f.label :street_num %>
		</th>
		<td>
			<%= f.number_field :street_num %>
		</td>

	</tr>

	<tr>
		<th>
			<%= f.label :street_name %>
		</th>
		<td>
			<%= f.text_field :street_name, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :street_ord %>
		</th>
		<td>
			<%= f.text_field :street_ord, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :city %>
		</th>
		<td>
			<%= f.text_field :city, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :state %>
		</th>
		<td>
			<%= f.text_field :state, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :zip %>
		</th>
		<td>
			<%= f.text_field :zip, class: "form-control" %>
		</td>
	</tr>

	<tr>
		<th>
		<%= f.label :purchase_price %>
		</th>
		<td>
			<%= f.number_field :state, class: "form-control" %>
		</td>
	</tr>

	<tr>
		<th>
			<%= f.label :prospect %>
		</th>
		<td>
			<%= f.collection_select :prospect_id, Prospect.all, :id, :name, {:prompt => "Select a prospect"}, {class: "form-control"} %>
		</td>
	</tr>

	<tr>
		<th>Actions</th>
		<td><%= f.submit "Submit", class: "btn btn-primary" %></td>
	</tr>
</table>
 
<% end %>
