<%= form_for(@p_scale) do |f| %>
  <% if @p_scale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@p_scale.errors.count, "error") %> prohibited this p_scale from being saved:</h2>

      <ul>
      <% @p_scale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table table-striped table-bordered">
    <tr>
      <th>    <%= f.label :name %></th>
      <td>    <%= f.text_field :name, class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :value %></th>
      <td>    <%= f.number_field :value, class: "form-control" %></td>
    </tr>
    <tr>
      <th>Actions</th>
      <td>    <%= f.submit "Submit", class: "btn btn-primary" %></td>
    </tr>

  </table>
  
<% end %>
