<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @p_scale.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @p_scale.value %>
</p>

<%= link_to 'Edit', edit_p_scale_path(@p_scale) %> |
<%= link_to 'Back', p_scales_path %>
