<p id="notice"><%= notice %></p>

<h2>Profit Scale</h2>

<table class="table table-striped table-bordered" >
  <tr>
    <th>Name:</th>
    <td><%= @p_scale.name %></td>
  </tr>
  <tr>
    <th>Value:</th>
    <td><%= @p_scale.value %></td>
  </tr>
</table>



<%= link_to 'Edit', edit_p_scale_path(@p_scale) %>
<%= link_to 'Back', p_scales_path %>
