<%= form_for(@l_survey) do |f| %>
  <% if @l_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@l_survey.errors.count, "error") %> prohibited this l_survey from being saved:</h2>

      <ul>
      <% @l_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :street_num %><br>
    <%= f.number_field :street_num %>
  </div>
  <div class="field">
    <%= f.label :street_ord %><br>
    <%= f.text_field :street_ord %>
  </div>
  <div class="field">
    <%= f.label :street_name %><br>
    <%= f.text_field :street_name %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :deposit %><br>
    <%= f.number_field :deposit %>
  </div>
  <div class="field">
    <%= f.label :minimum_occupancy_time %><br>
    <%= f.number_field :minimum_occupancy_time %>
  </div>
  <div class="field">
    <%= f.label :restrictions %><br>
    <%= f.text_field :restrictions %>
  </div>
  <div class="field">
    <%= f.label :rented %><br>
    <%= f.check_box :rented %>
  </div>
  <div class="field">
    <%= f.label :rent %><br>
    <%= f.number_field :rent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
