<%= form_for(@l_survey) do |f| %>
  <% if @l_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@l_survey.errors.count, "error") %> prohibited this l_survey from being saved:</h2>

      <ul>
      <% @l_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
	
  <% end %>
<table class="table table-striped table-bordered">


	<tr>
		<th>
			<%= f.label :data %>
		</th>
		<td>
			<%= f.datetime_select :data %>
		</td>

	</tr>

	<tr>
		<th>
			<%= f.label :street_num %>
		</th>
		<td>
			<%= f.number_field :street_num, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :street_ord %>
		</th>
		<td>
			<%= f.text_field :street_ord, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :street_name %>
		</th>
		<td>
			<%= f.text_field :street_name, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :city %>
		</th>
		<td>
			<%= f.text_field :city, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :zip %>
		</th>
		<td>
			<%= f.text_field :zip, class: "form-control" %>
		</td>
	</tr>

	<tr>
		<th>
		<%= f.label :state %>
		</th>
		<td>
			<%= f.text_field :state, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :size %>
		</th>
		<td>
			<%= f.number_field :size, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :deposit %>
		</th>
		<td>
			<%= f.number_field :deposit, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :minimum_occupancy_time %>
		</th>
		<td>
			<%= f.number_field :minimum_occupancy_time, class: "form-control" %>
		</td>
	</tr>

	<tr>
		<th>
			<%= f.label :restrictions %>
		</th>
		<td>
			<%= f.text_field :restrictions, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :rented %>
		</th>
		<td>
			<%= f.check_box :rented, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :rent %>
		</th>
		<td>
			<%= f.number_field :rent, class: "form-control" %>
		</td>
	</tr>
	
	<tr>
		<th>
			<%= f.label :prospect %>
		</th>
		<td>
			<%= f.collection_select :prospect_id, Prospect.all, :id, :name, {:prompt => "Select a prospect"}, {class: "form-control"} %>
		</td>
	</tr>

	<tr>
		<th>Actions</th>
		<td><%= f.submit "Submit", class: "btn btn-primary" %></td>
	</tr>
</table>
<% end %>
