<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @l_survey.data %>
</p>

<p>
  <strong>Street num:</strong>
  <%= @l_survey.street_num %>
</p>

<p>
  <strong>Street ord:</strong>
  <%= @l_survey.street_ord %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @l_survey.street_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @l_survey.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @l_survey.zip %>
</p>

<p>
  <strong>State:</strong>
  <%= @l_survey.state %>
</p>

<p>
  <strong>Size:</strong>
  <%= @l_survey.size %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @l_survey.deposit %>
</p>

<p>
  <strong>Minimum occupancy time:</strong>
  <%= @l_survey.minimum_occupancy_time %>
</p>

<p>
  <strong>Restrictions:</strong>
  <%= @l_survey.restrictions %>
</p>

<p>
  <strong>Rented:</strong>
  <%= @l_survey.rented %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @l_survey.rent %>
</p>

<%= link_to 'Edit', edit_l_survey_path(@l_survey) %> |
<%= link_to 'Back', l_surveys_path %>
