<p id="notice"><td><%=notice%>

<h1> Landlord Survey</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<table class="table table-striped table-bordered">

	<tr>
	  <th>Data:</th>
	  <td><%=@l_survey.data%></td>
	</tr>

	<tr>
	  <th>Street num:</th>
	  <td><%=@l_survey.street_num%></td>
	</tr>

	<tr>
	  <th>Street ord:</th>
	  <td><%=@l_survey.street_ord%></td>
	</tr>

	<tr>
	  <th>Street name:</th>
	  <td><%=@l_survey.street_name%></td>
	</tr>

	<tr>
	  <th>City:</th>
	  <td><%=@l_survey.city%></td>
	</tr>

	<tr>
	  <th>Zip:</th>
	  <td><%=@l_survey.zip%></td>
	</tr>

	<tr>
	  <th>State:</th>
	  <td><%=@l_survey.state%></td>
	</tr>

	<tr>
	  <th>Size:</th>
	  <td><%=@l_survey.size%></td>
	</tr>

	<tr>
	  <th>Deposit:</th>
	  <td><%=@l_survey.deposit%></td>
	</tr>

	<tr>
	  <th>Minimum occupancy time:</th>
	  <td><%=@l_survey.minimum_occupancy_time%></td>
	</tr>

	<tr>
	  <th>Restrictions:</th>
	  <td><%=@l_survey.restrictions%></td>
	</tr>

	<tr>
	  <th>Rented:</th>
	  <td><%=@l_survey.rented%></td>
	</tr>

	<tr>
	  <th>Rent:</th>
	  <td><%=@l_survey.rent%></td>
	</tr>
	
	<tr>
		<td><%=link_to 'Edit', edit_l_survey_path(@l_survey), class: "btn btn-primary" %>
		<%=link_to 'Back', l_surveys_path, class: "btn btn-info" %></td>
	</tr>


</table>

</div>
</div>