<%= form_for(@investor) do |f| %>
  <% if @investor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investor.errors.count, "error") %> prohibited this investor from being saved:</h2>

      <ul>
      <% @investor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-striped table-bordered"
  <tr class="field">
    <th><%= f.label :first_name %></th>
    <td> <%= f.text_field :first_name, class: "form-control" %></td>
  </tr>
  <tr class="field">
    <th><%= f.label :last_name %></th><br>
    <td><%= f.text_field :last_name, class: "form-control" %></td>
  </tr>
  <tr class="field">
    <th><%= f.label :phone_number %></th><br>
    <td><%= f.text_field :phone_number, class: "form-control" %></td>
  </tr>
  <tr class="actions">
		<th>Actions</th>
		<td><%= f.submit "Submit", class: "btn btn-primary" %></td>
	  </tr>
</table>
<% end %>
