<%= form_for(@prospect) do |f| %>
  <% if @prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
      <% @prospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% debug(@prospect) %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street_num %><br>
    <%= f.number_field :street_num %>
  </div>
  <div class="field">
    <%= f.label :street_name %><br>
    <%= f.text_field :street_name %>
  </div>
  <div class="field">
    <%= f.label :street_ord %><br>
    <%= f.text_field :street_ord %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :purchase_price %><br>
    <%= f.number_field :purchase_price %>
  </div>
  <div class="field">
    <%= f.label :repair_cost %><br>
    <%= f.number_field :repair_cost %>
  </div>
  <div>
    <%= f.label :investor %><br />
    <%= f.collection_select :investor_id, Investor.all, :id, :first_name, :prompt => "Select an investor" %>
  </div>
  <div>
    <%= f.label :motivation %><br />
    <%= f.collection_select :motivation_id, Motivation.all, :id, :name, :prompt => "Select a motivation" %>
  </div>
  <div>
    <%= f.label :l_survey %><br />
    <%= f.collection_select :l_surv_ID, LSurvey.all, :id, :address, :prompt => "Select your landlord survey" %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
