
<p id="notice"><%= notice %></p>

<div class="row">
  <div style="text-align: center">
    <h3>Overview</h3>
    
  </div>
</div>

<hr>
<div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center">Breakdown</div>
    </div>
</div>
<div class="row">

  <div class="col-md-4 col-lg-4 col-sm-4">

    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-primary">
          <td colspan="2" style="text-align: center">
            Purchasing <span><i class="fa fa-usd"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            Field
          </td>
          <td>
            Value
          </td>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td>
            Purchase Price
          </td>
          <td>
            <%= number_to_currency(@max_price) %>
          </td>
        </tr>
        <tr>
          <td>
            Closing Cost
          </td>
          <td>
            <%= number_to_currency(@closing_cost) %>
          </td>
        </tr>
      </tbody>
      
    </table>
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-primary">
          <td colspan="2" style="text-align: center">
            Acquisition <span><i class="fa fa-home"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            Field
          </td>
          <td>
            Value
          </td>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td>
            Down Payment
          </td>
          <td>
            <%= number_to_currency(@down_payment) %>
          </td>
        </tr>
        <tr>
          <td>
            Loan Amount
          </td>
          <td>
            <%= number_to_currency(@loan_amount) %>
          </td>
        </tr>
       
      </tbody>
      
    </table>
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-primary">
          <td colspan="2" style="text-align: center">
            Monthly Income <span><i class="fa fa-money"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            Field
          </td>
          <td>
            Value
          </td>
        </tr>
      </thead>
      
      <tbody>
       <tr>
          <td>
            Gross Income
          </td>
          <td>
            <%= number_to_currency(@gross_income) %>
          </td>
        </tr>
        <tr>
          <td>
            Net Income
          </td>
          <td>
            <%= number_to_currency(@net_income) %>
          </td>
        </tr>
        <tr>
          <td>
            50% Rule
          </td>
          <td>
            <%= number_to_currency(@fifty_rule) %>
          </td>
        </tr>
        <tr>
          <td>
            1% Rule
          </td>
          <td>
            <%= number_to_currency(@one_percent_rule) %>
          </td>
        </tr>
        <tr>
          <td>
            2% Rule
          </td>
          <td>
            <%= number_to_currency(@two_percent_rule) %>
          </td>
        </tr>
      </tbody>
      
    </table>
    
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-primary">
          <td colspan="2" style="text-align: center">
            Fixed Monthly Expenses <span><i class="fa fa-money"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            Field
          </td>
          <td>
            Value
          </td>
        </tr>
      </thead>
      
      <tbody>
       <tr>
          <td>
            Interest
          </td>
          <td>
            <%= number_to_currency(@monthly_interest) %>
          </td>
        </tr>
        <tr>
          <td>
            Principal
          </td>
          <td>
            <%= number_to_currency(@monthly_principal) %>
          </td>
        </tr>
        <tr>
          <td>
            Insurance
          </td>
          <td>
            <%= number_to_currency(@insurance_payment) %>
          </td>
        </tr>
        <tr>
          <td>
            Taxes
          </td>
          <td>
            <%= number_to_currency(@monthly_tax) %>
          </td>
        </tr>
      </tbody>
      
    </table>
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-primary">
          <td colspan="2" style="text-align: center">
            Variable Monthly Expenses <span><i class="fa fa-money"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            Field
          </td>
          <td>
            Value
          </td>
        </tr>
      </thead>
      
      <tbody>
       <tr>
          <td>
            Vacancy
          </td>
          <td>
            <%= number_to_currency(@vacancy_payment) %>
          </td>
        </tr>
        <tr>
          <td>
            Maintenance
          </td>
          <td>
            <%= number_to_currency(@repair_payment) %>
          </td>
        </tr>
        <tr>
          <td>
            Cap EX
          </td>
          <td>
            <%= number_to_currency(@cap_ex_payment) %>
          </td>
        </tr>
        <tr>
          <td>
            PMI
          </td>
          <td>
            <%= number_to_currency(@pmi_payment) %>
          </td>
        </tr>
      </tbody>
      
    </table>
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-primary">
          <td colspan="2" style="text-align: center">
            Total Expenses <span><i class="fa fa-money"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            Field
          </td>
          <td>
            Value
          </td>
        </tr>
      </thead>
      
      <tbody>
       <tr>
          <td>
            Fixed Expenses
          </td>
          <td>
            <%= number_to_currency(@total_fixed) %>
          </td>
        </tr>
        <tr>
          <td>
            Variable Expenses
          </td>
          <td>
            <%= number_to_currency(@total_variable) %>
          </td>
        </tr>
        <tr>
          <td>
            Cash in
          </td>
          <td>
            <%= number_to_currency(@cash_in) %>
          </td>
        </tr>
        <tr>
          <td>
            Total Expenses
          </td>
          <td>
            <%= number_to_currency(@total_expense) %>
          </td>
        </tr>
        
      </tbody>
      
    </table>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td colspan="2" style="text-align: center" class="bg-info">
            Refinancing  
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            After repair market value required
          </td>
          <td>
            <%= number_to_currency(@amv) %>
          </td>
        </tr>
        <tr>
          <td>
            Difference
          </td>
          <td>
            <%= number_to_currency(@ref_diff) %>
          </td>
          
        </tr>
        <tr>
          <td>
              Minus cash in
            </td>
            <td>
              <%= number_to_currency(@left_over) %>
            </td>
        </tr>

      </tbody>
    </table>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td colspan="2" style="text-align: center">
            Return on Investment  
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Cash On Cash Return
          </td>
          <td>
            <%= number_to_percentage(@cash_on_cash_return) %>
          </td>
        </tr>
        <tr>
          <td>
            ROI TimeFrame
          </td>
          <td>
            <%= @return_length %> Months
          </td>
        </tr>

      </tbody>
    </table>
    <div >
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4">
  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td colspan="2" style="text-align: center" class="bg-success">
            Aquisition (After refinance)  
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            New Loan Amount
          </td>
          <td>
            <%= number_to_currency(@amv) %>
          </td>
        </tr>
        <tr>
          <td>
            Closing Cost
          </td>
          <td>
            <%= @return_length %> Months
          </td>
        </tr>
<table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-success">
          <td colspan="2" style="text-align: center">
            Fixed Monthly Expenses <span><i class="fa fa-money"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            Field
          </td>
          <td>
            Value
          </td>
        </tr>
      </thead>
      
      <tbody>
       <tr>
          <td>
            Interest
          </td>
          <td>
            <%= number_to_currency(@monthly_interest_amv) %>
          </td>
        </tr>
        <tr>
          <td>
            Principal
          </td>
          <td>
            <%= number_to_currency(@monthly_principal_amv) %>
          </td>
        </tr>
        <tr>
          <td>
            Insurance
          </td>
          <td>
            <%= number_to_currency(@insurance_payment_amv) %>
          </td>
        </tr>
        <tr>
          <td>
            Taxes
          </td>
          <td>
            <%= number_to_currency(@monthly_tax_amv) %>
          </td>
        </tr>
      </tbody>
      
    </table>
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-success">
          <td colspan="2" style="text-align: center">
            Variable Monthly Expenses <span><i class="fa fa-money"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            Field
          </td>
          <td>
            Value
          </td>
        </tr>
      </thead>
      
      <tbody>
       <tr>
          <td>
            Vacancy
          </td>
          <td>
            <%= number_to_currency(@vacancy_payment) %>
          </td>
        </tr>
        <tr>
          <td>
            Maintenance
          </td>
          <td>
            <%= number_to_currency(@repair_payment) %>
          </td>
        </tr>
        <tr>
          <td>
            Cap EX
          </td>
          <td>
            <%= number_to_currency(@cap_ex_payment) %>
          </td>
        </tr>
        <tr>
          <td>
            PMI
          </td>
          <td>
            <%= number_to_currency(@pmi_payment) %>
          </td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>


  </div>
  
</div>
