<p id="notice"><%= notice %></p>

<h1>Prospects</h1>
<table class="table table-striped table-bordered">
	<tr>
	  <th>Name</th>
	  <td><%= @prospect.name %></td>
	</tr>
	<tr>
      <th>Street num</th>
	  <td><%= @prospect.street_num %></td>
	</tr>
	<tr>
      <th>Street name</th>
	  <td><%= @prospect.street_name %></td>
	</tr>
	<tr>
      <th>Street ord</th>
	  <td><%= @prospect.street_ord %></td>
	</tr>
	<tr>
      <th>City</th>
	  <td><%= @prospect.city %></td>
	</tr>
	<tr>
      <th>Zip</th>
	  <td><%= @prospect.zip %></td>
	</tr>
	<tr>
		<th>State</th>
		<td><%= @prospect.state %></td>
	</tr>
	<tr>
		<th>Investor</th>
	    <td><%= @prospect.investor.first_name %></td>
	</tr>
	<tr>
		<th style="text-align: center">Actions</th>
		<td>
		<%= link_to 'Edit', edit_prospect_path(@prospect), class: "btn btn-primary" %>
		<%= link_to 'Destroy', @prospect, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
</table>
<br>